.box {
    background: #f5f5f5;
    &-content {
        padding: 0 10px;
        margin-bottom: 10px;
        background: #FFF;
        border-radius: 8px;
        &:first-child {
            border-radius: 0 0 8px 8px;
        }
        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0 8px;
            &-more {
                font-size: 12px;
                color: #8c8c8c;
                cursor: pointer;
            }
        }
    }
}
.exponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6px;
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid;
    user-select: none;
    cursor: pointer;
    .title {
        color: #262626;
        font-weight: 500;
    }
    &-bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    & > div:nth-child(2) {
        margin: 8px 0;
    }
}
.ant-divider-horizontal.ant-divider-with-text {
    margin: 10px 0;
}

.ant-list {
    .ant-list-items {
        // padding: 0 6px;
    }
    .ant-list-item {
        padding: 8px 0;
    }
}

.pool-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .pool-left {
        display: flex;
        flex-direction: column;
        width: 100px;
        line-height: 18px;
    }
    .pool-item {
        width: 60px;
    }
}